.primeiraSessaoInicio {
  height: 86.5vh;
  background-image: url("../../assets/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 7%;

  h2 {
    color: #fff;
    font-size: 32px;
    width: 25%;
  }
}

.porqueDoarSection {
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  h2 {
    padding-left: 60px;
    height: 100px;
    font-size: 40px;
    color: #005695;
    width: 100%;
  }
}

.containerCards {
  display: flex;
  height: 50vh;
  justify-content: space-evenly;

  section {
    background-color: #0157944d;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;

    p {
      font-size: 30px;
      text-align: center;
      font-size: 27px;
      width: 80%;
    }
  }
}

@media (max-width: 800px) {
  .primeiraSessaoInicio {
    background-position: center;
    height: 50vh;

    h2 {
      font-size: 28px;
      width: 90%;
      text-align: center;
    }
  }

  .porqueDoarSection {
    height: 170vh;

    h2 {
      text-align: center;

      font-size: 33px;
      padding: 0;
    }
  }

  .containerCards {
    flex-direction: column;
    align-items: center;
    height: 150vh;

    section {
      width: 270px;
      height: 35vh;

      p {
        font-size: 21px;
      }
      img {
        width: 80px;
      }
    }
  }
}
